.productCart {
  border: 1px solid #ddd;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  :global .image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  :global .content {
    padding: 15px;
  }

}
